<template>
  <div>
    <Head title="Create Book" />
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/categories">Categories</Link>
      <span class="text-indigo-400 font-medium">/</span> Ajouter
    </h1>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="store">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <select-input v-model="form.id_type" :error="form.errors.category_id" class="pb-8 pr-6 w-full lg:w-1/2" label="category">

            <option :value=1>CLASSIQUE</option>
            <option :value=2>PERIODIQUE</option>
          </select-input>
          <text-input v-model="form.label" :error="form.errors.title" class="pb-8 pr-6 w-full lg:w-1/2" label="Label" />
          <!--<select-input v-model="form.country" :error="form.errors.country" class="pb-8 pr-6 w-full lg:w-1/2" label="Country">
            <option :value="null" />
            <option value="CA">Canada</option>
            <option value="US">United States</option>
          </select-input>  -->
          <!-- <text-input v-model="form.postal_code" :error="form.errors.postal_code" class="pb-8 pr-6 w-full lg:w-1/2" label="Postal code" /> -->
        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
          <loading-button :loading="form.processing" class="btn-indigo" type="submit">Ajouter categorie</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'

export default {
  components: {
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
  },
  layout: Layout,
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        id_type:1,
        label: null,
      }),
    }
  },
  methods: {
    store() {
      this.form.post('/categories')
    },
  },
}
</script>
