<template>
  <div>
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/categories">Categories</Link>
      <span class="text-indigo-400 font-medium">/</span>
    </h1>
    <trashed-message v-if="category.deleted_at" class="mb-6" @restore="restore"> categorie deja supprimer. </trashed-message>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="update">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <select-input v-model="form.id_type" :error="form.errors.category_id" class="pb-8 pr-6 w-full lg:w-1/2" label="category">

          <option :value=1>CLASSIQUE</option>
          <option :value=2>PERIODIQUE</option>
          </select-input>
          <text-input v-model="form.label" :error="form.errors.label" class="pb-8 pr-6 w-full lg:w-1/2" label="First name" />
        </div>
        <div class="flex items-center px-8 py-4 bg-gray-50 border-t border-gray-100">
          <button v-if="!category.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Supprimer categorie</button>
          <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Modifier categorie</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'
import TrashedMessage from '@/Shared/TrashedMessage'

export default {
  components: {
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
  },
  layout: Layout,
  props: {
    category: Object,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        id_type:this.category.id_type,
        label: this.category.label,
      }),
    }
  },
  methods: {
    update() {
      this.form.put(`/categories/${this.category.id}`)
    },
    destroy() {
      if (confirm('Are you sure you want to delete this category?')) {
        this.$inertia.delete(`/categories/${this.category.id}`)
      }
    },
    restore() {
      if (confirm('Are you sure you want to restore this category?')) {
        this.$inertia.put(`/categories/${this.category.id}/restore`)
      }
    },
  },
}
</script>
