<template>
  <div>
    <Head title="Create Book" />
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/books">Livres</Link>
      <span class="text-indigo-400 font-medium">/</span> Ajout
    </h1>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="store">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <text-input v-model="form.title" :error="form.errors.title" class="pb-8 pr-6 w-full lg:w-1/2" label="Title" />
          <text-input v-model="form.author" :error="form.errors.author" class="pb-8 pr-6 w-full lg:w-1/2" label="Author" />
          <select-input v-model="form.type_id" :error="form.errors.type_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Type">
          <option :value="1">CLASSIQUE</option>
          <option :value="2">PERIODIQUE</option>
          </select-input>
          <select-input v-model="form.category_id" :error="form.errors.category_id" class="pb-8 pr-6 w-full lg:w-1/2" label="category" v-if="showSecondSelect">
            <option v-for="category in filteredCategories" :value="category.id">{{ category.label }}</option>
          </select-input>
          <text-input v-model="form.volume" :error="form.errors.volume" class="pb-8 pr-6 w-full lg:w-1/2" label="Volume" />
          <text-input v-model="form.lieu" :error="form.errors.lieu" class="pb-8 pr-6 w-full lg:w-1/2" label="Lieu edition" />
          <text-input v-model="form.edition" :error="form.errors.edition" class="pb-8 pr-6 w-full lg:w-1/2" label="Edition" />
          <text-input v-model="form.date_edition" :error="form.errors.date_edition" class="pb-8 pr-6 w-full lg:w-1/2" label="Date edition" />
          <text-input type="number" v-model="form.page" :error="form.errors.page" class="pb-8 pr-6 w-full lg:w-1/2" label="Page" />

          <text-input v-model="form.isbn" :error="form.errors.isbn" class="pb-8 pr-6 w-full lg:w-1/2" label="Isbn" />
          <text-input v-model="form.description" :error="form.errors.description" class="pb-8 pr-6 w-full lg:w-1/2" label="Description" />
          <file-input v-model="form.cover_image" :error="form.errors.cover_image" class="pb-8 pr-6 w-full lg:w-1/2" type="file" accept="image/*" label="Couverture" />
          <file-input v-model="form.pdf" :error="form.errors.pdf" class="pb-8 pr-6 w-full lg:w-1/2" type="file" accept="application/pdf" label="Livre" />
          <progress v-if="form.progress" :value="form.progress.percentage" max="100">
            {{ form.progress.percentage }}%
          </progress>
          <!--<select-input v-model="form.country" :error="form.errors.country" class="pb-8 pr-6 w-full lg:w-1/2" label="Country">
            <option :value="null" />
            <option value="CA">Canada</option>
            <option value="US">United States</option>
          </select-input>  -->
          <!-- <text-input v-model="form.postal_code" :error="form.errors.postal_code" class="pb-8 pr-6 w-full lg:w-1/2" label="Postal code" /> -->
        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
          <loading-button :loading="form.processing" class="btn-indigo" type="submit">Ajouter</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'
import FileInput from '@/Shared/FileInput'

export default {
  components: {
    FileInput,
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
  },
  layout: Layout,
  props: {
    categories: Object,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        title: null,
        author: null,
        category_id:null,
        isbn: null,
        volume:null,
        lieu:null,
        edition:null,
        date_edition:null,
        page:null,
        description: null,
        cover_image: null,
        type_id:null,
        pdf: null,
      }),
    }
  },
  methods: {
    store() {
      this.form.post('/books')
    },
    getFilteredCategories() {
    if (this.form.type_id === 1) {
      // return options for CLASSIQUE
      return this.categories.filter(category => category.id_type === 1)
    } else if (this.form.type_id === 2) {
      // return options for PERIODIQUE
      return this.categories.filter(category => category.id_type === 2)
    } else {
      // return an empty array if no option is selected in the first select input
      return []
    }
  },
  },
  watch: {
  'form.type_id': function() {
    this.filteredCategories = this.getFilteredCategories()
  }
},
  computed: {
  showSecondSelect() {
    return this.form.type_id !== null
  },
  filteredCategories() {
    if (this.form.type_id === 1) {
      // return options for CLASSIQUE
      return this.categories.filter(category => category.id_type === 1)
    } else if (this.form.type_id === 2) {
      // return options for PERIODIQUE
      return this.categories.filter(category => category.id_type === 2)
    } else {
      // return an empty array if no option is selected in the first select input
      return []
    }
  }
}
}
</script>
