<template>
  <div>
    <Head :title="form.name" />
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/books">Livres</Link>
      <span class="text-indigo-400 font-medium">/</span>
      {{ form.title }}
    </h1>
    <trashed-message v-if="book.deleted_at" class="mb-6" @restore="restore"> deja supprimer. </trashed-message>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="update">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">

          <text-input v-model="form.title" :error="form.errors.title" class="pb-8 pr-6 w-full lg:w-1/2" label="Titre" />
          <text-input v-model="form.author" :error="form.errors.author" class="pb-8 pr-6 w-full lg:w-1/2" label="Auteur" />
          <select-input v-model="form.type_id" :error="form.errors.type_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Type">
          <option :value="1">CLASSIQUE</option>
          <option :value="2">PERIODIQUE</option>
          </select-input>
          <select-input v-model="form.category_id" :error="form.errors.category_id" class="pb-8 pr-6 w-full lg:w-1/2" label="category" v-if="showSecondSelect">
            <option v-for="category in filteredCategories" :value="category.id">{{ category.label }}</option>
          </select-input>
          <text-input v-model="form.volume" :error="form.errors.volume" class="pb-8 pr-6 w-full lg:w-1/2" label="Volume" />
          <text-input v-model="form.lieu" :error="form.errors.lieu" class="pb-8 pr-6 w-full lg:w-1/2" label="Lieu edition" />
          <text-input v-model="form.edition" :error="form.errors.edition" class="pb-8 pr-6 w-full lg:w-1/2" label="Edition" />
          <text-input v-model="form.date_edition" :error="form.errors.date_edition" class="pb-8 pr-6 w-full lg:w-1/2" label="Date edition" />
          <text-input v-model="form.page" :error="form.errors.page" class="pb-8 pr-6 w-full lg:w-1/2" label="Page" />

          <text-input v-model="form.isbn" :error="form.errors.isbn" class="pb-8 pr-6 w-full lg:w-1/2" label="Isbn" />
          <text-input v-model="form.description" :error="form.errors.description" class="pb-8 pr-6 w-full lg:w-1/2" label="Description" />
          <file-input v-model="form.cover_image" :error="form.errors.cover_image" class="pb-8 pr-6 w-full lg:w-1/2" type="file" accept="image/*" label="Couverture" />
          <file-input v-model="form.path" :error="form.errors.path" class="pb-8 pr-6 w-full lg:w-1/2" type="file" accept="application/pdf" label="Livre" />
           <progress v-if="form.progress" :value="form.progress.percentage" max="100">
            {{ form.progress.percentage }}%
          </progress>
        </div>
        <div class="flex items-center px-8 py-4 bg-gray-50 border-t border-gray-100">
          <button v-if="!book.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">supprimer</button>
          <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Modifier</loading-button>
        </div>
      </form>
    </div>
    <!--
      <h2 class="mt-12 text-2xl font-bold">Contacts</h2>
    <div class="mt-6 bg-white rounded shadow overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tr class="text-left font-bold">
          <th class="pb-4 pt-6 px-6">Name</th>
          <th class="pb-4 pt-6 px-6">City</th>
          <th class="pb-4 pt-6 px-6" colspan="2">Phone</th>
        </tr>
        <tr v-for="contact in organization.contacts" :key="contact.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
          <td class="border-t">
            <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/contacts/${contact.id}/edit`">
              {{ contact.name }}
              <icon v-if="contact.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
            </Link>
          </td>
          <td class="border-t">
            <Link class="flex items-center px-6 py-4" :href="`/contacts/${contact.id}/edit`" tabindex="-1">
              {{ contact.city }}
            </Link>
          </td>
          <td class="border-t">
            <Link class="flex items-center px-6 py-4" :href="`/contacts/${contact.id}/edit`" tabindex="-1">
              {{ contact.phone }}
            </Link>
          </td>
          <td class="w-px border-t">
            <Link class="flex items-center px-4" :href="`/contacts/${contact.id}/edit`" tabindex="-1">
              <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
            </Link>
          </td>
        </tr>
        <tr v-if="organization.contacts.length === 0">
          <td class="px-6 py-4 border-t" colspan="4">No contacts found.</td>
        </tr>
      </table>
    </div>
     -->

  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'
import TrashedMessage from '@/Shared/TrashedMessage'
import FileInput from '@/Shared/FileInput'

export default {
  components: {
    FileInput,
    Head,
    Icon,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
  },
  layout: Layout,
  props: {
    book: Object,
    categories: Object,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        title: this.book.title,
        author: this.book.author,
        type_id:this.book.type_id,
        category_id: this.book.category_id,
        isbn: this.book.isbn,

        volume:this.book.volume,
        lieu:this.book.lieu,
        edition:this.book.edition,
        date_edition:this.book.date_edition,
        page:this.book.page,
        description: this.book.description,
        cover_image: this.book.cover_image,
        path:this.book.path,
      }),
    }
  },
  methods: {
    getFilteredCategories() {
    if (this.form.type_id === 1) {
      // return options for CLASSIQUE
      return this.categories.filter(category => category.id_type === 1)
    } else if (this.form.type_id === 2) {
      // return options for PERIODIQUE
      return this.categories.filter(category => category.id_type === 2)
    } else {
      // return an empty array if no option is selected in the first select input
      return []
    }
  },
    update() {
      this.form.put(`/books/${this.book.id}`)
    },
    destroy() {
      if (confirm('hofafana io boky io?')) {
        this.$inertia.delete(`/books/${this.book.id}`)
      }
    },
    restore() {
      if (confirm('Are you sure you want to restore this book?')) {
        this.$inertia.put(`/books/${this.book.id}/restore`)
      }
    },
  },
  watch: {
  'form.type_id': function() {
    this.filteredCategories = this.getFilteredCategories()
  }
},
computed: {
  showSecondSelect() {
    return this.form.type_id !== null
  },
  filteredCategories() {
    if (this.form.type_id === 1) {
      // return options for CLASSIQUE
      return this.categories.filter(category => category.id_type === 1)
    } else if (this.form.type_id === 2) {
      // return options for PERIODIQUE
      return this.categories.filter(category => category.id_type === 2)
    } else {
      // return an empty array if no option is selected in the first select input
      return []
    }
  }
}
}
</script>
