<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<template>
  <!-- component -->
<div class="2xl:container 2xl:mx-auto">
            <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
            <div class="flex justify-center">
            <div class="bg-white rounded fixed-top" style="margin-bottom: 0;padding-bottom: 0;">
    <a href="#" class="logo" style="display: block;">
      <img src="/storage/image/télécharger.jpg" alt="logo" style="height: 100%;">
    </a>
    <div class="flex items-center space-x-4 pb-2 mx-auto" style="margin-bottom: 0;padding-bottom: 0;width:100%">

      <div class="md:text-md flex justify-between pb-0 mb-0 w-full text-sm bg-white md:px-12 md:py-0" style="margin-bottom: 0;padding-bottom: 0; ">
            <h2 class="font-normal text-2xl leading-6 text-gray-800 bibliotext ml-2" style="color: #1a0683; align-self: center;">BIBLIOTHEQUE TPM</h2>

                  <dropdown id="drop" class="md:text-md flex justify-end mb-0 pb-0" placement="bottom-end" style="background-color: #39b5e4;margin: 0%; padding: 10px;">
                      <template #default>
                        <div class="group flex items-center cursor-pointer select-none">
                          <img v-if="user.photo" class="block ml-4 w-5 h-5 rounded-full" :src="user.photo" />
                          <div class="mr-1 text-white-700 group-hover:text-indigo-600 focus:text-indigo-600 whitespace-nowrap" style="color: white;">
                            <span>{{ user.first_name }}</span>
                            <span class="hidden md:inline">&nbsp;{{ user.last_name }}</span>
                          </div>
                          <icon class="w-5 h-5 fill-white-700 group-hover:fill-white-600 focus:fill-indigo-600" name="cheveron-down" style="color: white;"/>
                        </div>
                      </template>
                      <template #dropdown>
                        <div class="mt-2 py-2 text-sm bg-white rounded shadow-xl">
                          <Link class="block px-6 py-2 w-full text-left hover:text-white hover:bg-indigo-500" href="/logout" method="delete" as="button">Logout</Link>
                        </div>
                      </template>
                  </dropdown>
          </div>

          </div>
          <div class="line"></div>
          <div v-if="!isMobile" style="justify-content: center;align-items: center;padding: 5px;">
            <p class="p" style="white-space: nowrap;justify-content: center;text-align: center;">"koa mandehana ianareo, dia ataovy mpianatra ny firenena rehetra,..." Matio 28:19a</p>
          </div>
          <div v-else style="justify-content: center;align-items: center;padding: 5px;padding-left: 10px;">
            <p class="p" style="justify-content: center;text-align: center;">"koa mandehana ianareo, dia ataovy mpianatra ny firenena rehetra,..." Matio 28:19a</p>
          </div>
          <div class="line"></div>
      <nav class="max" v-if="!isMobile" style=" background-color: #39b5e4;list-style: none;">
          <!-- For medium and plus sized devices -->
          <ul class="hidden md:flex flex-auto space-x-2 text-gray" style="display: flex;justify-content: center;text-align: center;align-items: center;margin: 0;">

            <li @click.prevent="selected(false,false,true)" class="nav-link">TONGASOA</li>
            <li @click.prevent="selected(true,false,false)" class="nav-link"> BOKY </li>
            <li @click.prevent="selected(false,true,false)" class="nav-link">MOMBAMOMBA</li>
            <li @click.prevent="selected(false,false,false)" class="nav-link">SAMIHAFA</li>
          </ul>

    </nav>

      <!-- for smaller devcies -->
  </div>
</div>
<div class="block md:hidden w-full mt-2 " style="z-index: 1;" >
          <div @click.prevent="selectNew" class="cursor-pointer px-4 py-3 text-white rounded flex justify-between items-center w-full" style="background-color: #39b5e4;z-index: 1;" >
              <div class="flex space-x-2">
                  <span id="s1" class="font-semibold text-sm leading-3 hidden"></span><p id="textClicked" class="font-normal text-white text-sm leading-3 focus:outline-none hover:bg-gray-800 duration-100 cursor-pointer ">BOKY</p>
              </div>
              <svg id="ArrowSVG" class=" transform" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </div>
          <div class=" relative" style="z-index: 1;">
              <ul id="list" class=" hidden font-normal text-white leading-4 absolute top-2  w-full rounded shadow-md">
                <li @click.prevent="selectedSmall(false,false,true)" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">TONGASOA</li>

                <li @click.prevent="selectedSmall(true,false,false)" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">BOKY</li>
                  <li @click.prevent="selectedSmall(false,true,false)" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">MOMBAMOMBA</li>
                  <li @click.prevent="selectedSmall(false,false,false)" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">SAMIHAFA</li>
                    </ul>
          </div>
      </div>
    </div>
  <div>

    <button v-if="preview" @click.prevent="back" class="btn-indigo ml-auto" style="margin-top: 80px;">Hiverina</button>


  </div>
  <div class="flex flex-col md:flex-row p-4 mt-0 md:p-8 max-w-5xl mx-auto bg-white" v-if="detail" style="padding: 10%;" id="details" >
    <div class="w-full md:w-1/3">
      <img :src="`/storage/${book.cover_image}`" alt="Book cover" @click.prevent="show(`/storage/${book.path}`)" class="w-full">
    </div>
    <div class="flex-1 md:ml-8">
      <h3 class="text-2xl font-bold mb-4">{{ book.title }}</h3>
      <p class="mb-4" v-if=book.author>Mpanoratra : {{ book.author }}</p>
      <p class="mb-4" v-if=book.volume>Volume : {{ book.volume }}</p>
      <p class="mb-4" v-if=book.edition>Edisiôna : {{ book.edition }}</p>
      <p class="mb-4" v-if=book.lieu>Toerana : {{ book.lieu }}</p>
      <p class="mb-4" v-if=book.date_edition>Daty edisiôna : {{ book.date_edition }}</p>
      <p class="mb-4" v-if=book.description>{{ book.description }}</p>
      <button @click.prevent="show(`/storage/${book.path}`)" class="btn-indigo ml-auto" >Hovakiana</button>

     </div>
  </div><!--
   <div v-if="detail">
    <h1>{{ book.title }}</h1>
    <p>By {{ book.author }}</p>
    <p>Published by </p>
    <p>ISBN: {{ book.isbn }}</p>
    <img :src="`/storage/${book.cover_image}`" alt="Book cover" @click.prevent="show(`/storage/${book.path}`)">
    <p></p>
    <button @click.prevent="show(`/storage/${book.path}`)" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded" >Lire</button>

  </div> -->
<div id="app" v-if="showPdf" style="margin-top: 80px;">
  <div class="app-header"  style="padding-bottom:10px;">
    <template v-if="isLoading">
      Miandry kely tompoko...
    </template>

    <template v-else>
      <span v-if="showAllPages">
        {{ pageCount }} pejy
      </span>

      <span v-else>
        <button :disabled="page <= 1" @click="page--">❮</button>

        {{ page }} / {{ pageCount }}

        <button :disabled="page >= pageCount" @click="page++">❯</button>
      </span>

      <label class="right" style="float: right;">
        <input v-model="showAllPages" type="checkbox">
        aseho daholo ireo pejy
      </label>
    </template>
  </div>

  <div class="app-content">
    <vue-pdf-embed

      ref="pdfRef"
      :source="source1"
      :page="page"
      :downloadable="false"
      @password-requested="handlePasswordRequest"
      @rendered="handleDocumentRender"
    />
  </div>
</div>
<div>

  <!-- <iframe v-if="showPdf" :src="source1" width="100%" height="600" :downloadable="false" @load="onIframeLoad"></iframe> -->
  <!-- <vue-pdf-embed v-if="showPdf" :source="source1" :downloadable="false"/> -->
  <div class="2xl:container 2xl:mx-auto">
    <div>
      <div class="header" v-if="tongasoa">
    <div class="header__image" :style="{ backgroundImage: `url(${images[currentIndex]})` }"></div>
  </div>
    </div>

    <div class="2xl:container 2xl:mx-auto" v-if="listbook">
    <div class="max" v-if="!isMobile" style="display: flex;margin-bottom: 0;padding-bottom: 0;align-items: stretch;margin-top: 80px;">
      <search-filter v-model="form.search" class="space-x-2" @reset="reset" style="flex-grow: 8;align-self: center" v-if="listbook">
    <select v-model="form.type" class="form-select mt-2 mb-2 w-full" style="border: 1px solid #ccc;border-radius: 0%;">
      <option value="classique">CLASSIQUE</option>
      <option value="periodique">PERIODIQUE</option>
    </select>
      <label class="block text-gray-700">Sokajy:</label>
      <select v-model="form.category" class="form-select mt-2 mb-2 w-full" style="border: 1px solid #ccc;border-radius: 0%;">
      <option :value="null">Rehetra</option>

      <option v-for="category in filteredCategories" :value="category.id">{{ category.label }}</option>
    </select>

</search-filter>

</div>
<div class="block md:hidden w-full mt-5 ">

      <search-filter v-model="form.search" class="space-x-2" @reset="reset" style=" display: flex;  flex-direction: column;" v-if="listbook">
    <div style="display: flex;  flex-direction: row;">
      <select v-model="form.type" class="form-select mt-2 mb-2 w-full" style="border: 1px solid #ccc;border-radius: 0%;">
      <option value="classique">CLASSIQUE</option>
      <option value="periodique">PERIODIQUE</option>
    </select>
      <select v-model="form.category" class="form-select mt-2 mb-2 w-full" style="border: 1px solid #ccc;border-radius: 0%;">
      <option :value="null">Rehetra</option>

      <option v-for="category in filteredCategories" :value="category.id">{{ category.label }}</option>
    </select>

    </div>
    <div class="search">

    </div>

</search-filter>

      </div>
    <div class="grid grid-cols-2 gap-x-6 gap-y-6 sm:gap-y-6 sm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 xl:gap-x-8">

      <a href="#" class="group relative flex flex-col" @click.prevent="showDetail(book)" v-for="book in filteredBooks.data">
        <div class="h-44 sm:h-60 md:h-76 bg-gray-200 rounded-lg overflow-hidden relative flex-grow-0">
      <img :src="`/storage/${book.cover_image}`" :alt="book.cover_image" class="h-full w-full object-cover object-center group-hover:opacity-75">
          <div class="absolute bottom-0 left-0 w-full text-center sm:text-left" id="title">
            <h3 class="text-lg font-medium">{{ book.title }}</h3>
            <p class="mt-2 text-sm">{{  book.author }}</p>
          </div>
        </div>
      </a>

      <!-- More products... -->
    </div>

<pagination class="mt-6" :links="filteredBooks.links" />
</div>

</div>

</div>
<div class="2xl:container 2xl:mx-auto">
  <div class="propos" v-if="mombamomba" style="margin-top: 80px;">
    <div class="about-us">
    <div class="about-text">
      <h1>About Us</h1>
      <p>Welcome to our eLibrary! We are a digital library dedicated to providing easy and convenient access to a wide range of digital books, magazines, and other publications, as well as to promote literacy and education through our services.</p>
      <h2>How to Use Our eLibrary</h2>
      <ol>
        <li>Sign up for an account or log in with your existing account.</li>
        <li>Browse our collection of books, magazines, and other publications.</li>
        <li>Click on the title of the publication you want to read.</li>
        <li>If the publication is available, you can borrow it for a set period of time. If it's not available, you can add it to your wish list and be notified when it becomes available.</li>
        <li>Enjoy reading your borrowed publications on your computer, tablet, or smartphone.</li>
        <li>Return the borrowed publications when you're finished with them, or renew them if you need more time.</li>
      </ol>
    </div>
    <div class="about-image">
      <img src="/storage/image/IMG_20230420_092227_612.jpg" alt="about-us-image">
    </div>
  </div>

  </div>
</div>
  <!-- Remove the container if you want to extend the Footer to full width. -->

  <!-- Footer -->
  <div class="2xl:container 2xl:mx-auto" style="margin-top: 20px;">
  <footer class="footer-09">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 mb-md-0 mb-4">
						<h2 class="footer-heading d-flex">
							<span class="icon d-flex align-items-center justify-content-center"><i class="ion-logo-ionic"></i></span>
							Contact
						</h2>
						<div class="block-23 mb-3">
              <ul>
                <li><span class="icon ion-ios-pin"></span><span class="text">Mamory Ivato, Lot 030 MMA, TPM</span></li>
                <li><a href="#"><span class="icon ion-ios-call"></span><span class="text">0342972631</span></a></li>
                <li><a href="#"><span class="icon ion-ios-send"></span><span class="text">faraniainadanie@gmail.com</span></a></li>
              </ul>
            </div>
					</div>
					<div class="col-md-6 col-lg-3 mb-md-0 mb-4">
						<h2 class="footer-heading d-flex align-items-center"><span class="icon d-flex align-items-center justify-content-center"><i class="ion-ios-list-box"></i></span>Vaovao farany</h2>
						<div class="block-21 mb-4 d-flex">
              <a class="img mr-4 rounded" style="background-image: url(images/image_1.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> Oct. 16, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-4 d-flex">
              <a class="img mr-4 rounded" style="background-image: url(images/image_2.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> Oct. 16, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
					</div>
					<div class="col-md-6 col-lg-3 mb-md-0 mb-4">
						<h2 class="footer-heading d-flex align-items-center"><span class="icon d-flex align-items-center justify-content-center"><i class="ion-ios-document"></i></span>Rohy</h2>
						<ul class="list-unstyled">
	            <li @click.prevent="selected(true,false,false)"><a href="#" class="py-1 d-block">Ireo Boky</a></li>

              <li @click.prevent="selected(false,false,false)"><a href="#" class="py-1 d-block">Samihafa</a></li>
	            <li @click.prevent="selected(false,true,false)"><a href="#" class="py-1 d-block">fanampiana &amp; Mombamomba</a></li>
	          </ul>
					</div>
					<div class="col-md-6 col-lg-3 mb-md-0 mb-4">
						<h2 class="footer-heading d-flex align-items-center"><span class="icon d-flex align-items-center justify-content-center"><i class="ion-ios-document"></i></span>Hamela Hafatra</h2>
						<form action="#" class="contact-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
              	<button type="submit" class="form-control submit px-3">Send</button>
              </div>
            </form>
					</div>
				</div>
				<div class="row mt-5 pt-4 border-top">
          <div class="col-md-6 col-lg-8">
            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy; {{currentYear}} All rights reserved.</p>
          </div>
          <div class="col-md-6 col-lg-4 text-md-right">
          	<p class="copyright">This Application is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Zanakam-panohana</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
			</div>
		</footer>
  </div>
  <!-- Footer -->
<!-- End of .container -->
</template>
<script>
import { Link } from '@inertiajs/inertia-vue3'
import SearchFilter from '@/Shared/SearchFilter'
import VuePdfEmbed from 'vue-pdf-embed'
import pickBy from 'lodash/pickBy'
import Search from '@/Shared/Search'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
import Pagination from '@/Shared/Pagination'
import Icon from '@/Shared/Icon'
import Logo from '@/Shared/Logo'
import Dropdown from '@/Shared/Dropdown'
import FlashMessages from '@/Shared/FlashMessages'

export default {
  components: {
    Link,
    SearchFilter,
    VuePdfEmbed,
    Dropdown,
    FlashMessages,
    Icon,
    Pagination,
  },

  layout: Search,
  props: {
    auth: Object,
    filters: Object,
    books: Object,
    periodiques:Object,
    categories:Object,
    user:Object,
  },
  data() {
    return {
      activeTab: 'tab1',
      currentYear: new Date().getFullYear(),
      images: [
        "/storage/image/53991542.jpg",
        "/storage/image/5399154.jpg",
      ],
      timer: null,
      currentIndex: 0,
      form: {
        search: this.filters.search,
        category: this.filters.category,
        type:'classique',
      },

      isLoading: true,
      page: null,
      book:null,
      pageCount: 1,
      showAllPages: true,
      showPdf: false,
      header:true,
      mombamomba:false,
      tongasoa:false,
      listbook:true,
      isPad:window.innerWidth <= 1000,
      isMobile: window.innerWidth <= 767, // Vous pouvez ajuster cette valeur selon vos besoins
      source1: 'https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/examples/learning/helloworld.pdf',
      source2: 'data:application/pdf;base64,<BASE64_ENCODED_PDF>',
    }
  },
  created() {
    // Écoute les événements de redimensionnement de la fenêtre
    window.addEventListener('resize', this.handleResize);
  },
  destroyed() {
    // Supprime l'écouteur d'événement lors de la destruction du composant
    window.removeEventListener('resize', this.handleResize);
  },
  mounted: function() {
    this.imagechange();
    this.startSlide();
  },
  watch: {
    showAllPages() {
      this.page = this.showAllPages ? null : 1
    },
    form: {
      deep: true,
      handler: throttle(function () {
        this.$inertia.get('/', pickBy(this.form), { preserveState: true })
      }, 150),
    },
    'activeTab': throttle(function() {
      this.$inertia.get('/', pickBy(), { preserveState: true }),
    this.filteredBooks = this.getFilteredBooks(),
    this.filteredCategories=this.getFilteredCategories()
  },150),
  },
  methods: {
    imagechange(){
      if(this.isMobile){
        this.images=["/storage/image/53991545.jpg",
        "/storage/image/53991546.jpg",]
    }else if(this.isPad){
      this.images=["/storage/image/53991545.jpg",
        "/storage/image/53991546.jpg",]
    }
  else{

  }},
    handleResize() {
      // Met à jour la variable isMobile en fonction de la largeur de l'écran
      this.isMobile = window.innerWidth <= 767; // Vous pouvez ajuster cette valeur selon vos besoins
    },
    getFilteredBooks() {
    if (this.form.type === "classique") {
      // return options for CLASSIQUE
      return this.books
    } else if (this.form.type === "periodique") {
      // return options for PERIODIQUE
      return this.periodiques
    } else {
      // return an empty array if no option is selected in the first select input
      return this.books
    }
  },
  getFilteredCategories() {
    if (this.form.type === "classique") {
      // return options for CLASSIQUE
      return this.categories.filter(category => category.id_type === 1)
    } else if (this.form.type === "periodique") {
      // return options for PERIODIQUE
      return this.categories.filter(category => category.id_type === 2)
    } else {
      // return an empty array if no option is selected in the first select input
      return this.books.data.filter(book => book.type_id === 1)
    }
  },
    startSlide() {
      setInterval(() => {
        this.currentIndex = (this.currentIndex + 1) % this.images.length;
      }, 3000);
    },

    next: function() {
      this.currentIndex += 1;
    },
    prev: function() {
      this.currentIndex -= 1;
    },
     handleDocumentRender() {
      this.isLoading = false
      this.pageCount = this.$refs.pdfRef.pageCount
    },
    handlePasswordRequest(callback, retry) {
      callback(prompt(retry
        ? 'Enter password again'
        : 'Enter password'
      ))
    },
    onIframeLoad(event) {
      let iframeDocument = event.target.contentWindow.document;
      iframeDocument.addEventListener("DOMContentLoaded", () => {
        let printButton = iframeDocument.querySelector(".toolbarButton[data-l10n-id='print_label']");
        if (printButton) {
          printButton.style.display = "none";
        }
      });
    },
    selected(boky,mombamomba,tongasoa) {
  var targeted = event.target;
  var clicked = targeted.parentElement;
  this.listbook=boky;
  this.mombamomba=mombamomba;
  this.tongasoa=tongasoa;
  if(mombamomba){
    this.header=false;

  this.detail=false;
  this.listbook=false;
  this.showPdf = false;
  this.preview = false;
  this.tongasoa=false;
  }
  else if(tongasoa){
    this.header=false;

  this.detail=false;
  this.listbook=false;
  this.showPdf = false;
  this.preview = false;
  this.mombamomba=false;
  }
  else{
    this.header=true;
  }


  var child = clicked.children;
  console.log(child);

  for (let i = 0; i < child.length; i++) {
    if (child[i].classList.contains("text-gray")) {
      console.log(child[i]);
      child[i].classList.remove("text-gray", "bg-white");
      /*child[i].classList.add(
        "text-gray-600",
        "bg-gray-50",
        "border",
        "border-white"
      );*/
    }
  }
  targeted.classList.remove(
    "text-white",
    "border",
    "border-white"
  );
  targeted.classList.add("text-gray", "bg-white");
}
,
selectNew() {
  var newL = document.getElementById("list");
  newL.classList.toggle("hidden");


  document.getElementById("ArrowSVG").classList.toggle("rotate-180");
},
selectedSmall(boky,mombamomba,tongasoa) {
  var text = event.target.innerText;

  this.listbook=boky;
  this.mombamomba=mombamomba;
  this.tongasoa=tongasoa;
  if(mombamomba){
    this.header=false;

  this.detail=false;
  this.listbook=false;
  this.showPdf = false;
  this.preview = false;
  this.tongasoa=false;
  }
  else if(tongasoa){
    this.header=false;

  this.detail=false;
  this.listbook=false;
  this.showPdf = false;
  this.preview = false;
  this.mombamomba=false;
  }
  else{
    this.header=true;
  }

  var newL = document.getElementById("list");
  var newText = document.getElementById("textClicked");
  newL.classList.add("hidden");
  document.getElementById("ArrowSVG").classList.toggle("rotate-180");
  newText.innerText = text;

  document.getElementById("s1").classList.remove("hidden");
},
showDetail(book){
  this.detail=true;
  this.book=book;
  this.header=false;
  this.listbook=false;

  this.showPdf = false;
  this.preview = true;
},

    show(bookpath) {

  this.detail=false;
      this.listbook=false;
      this.header=false;
      this.showPdf = true;
      this.preview=true;
      this.source1=bookpath;
       },
      back() {
      this.listbook=true;
      this.header=true;
      this.detail=false;
      this.preview = false;
      this.showPdf = false;
       },
       reset() {
      this.form = mapValues(this.form, () => null)
    },
    getImageUrl(path) {
      return process.env.BASE_URL + path;
    },

  },
  computed: {
    filteredBooks() {
      if (this.form.type === "classique") {
      // return options for CLASSIQUE
      return this.books
    } else if (this.form.type === "periodique") {
      // return options for PERIODIQUE
      return this.periodiques
    } else {
      // return an empty array if no option is selected in the first select input
      return this.books
    }
  },
  filteredCategories() {
    if (this.form.type === "classique") {
      // return options for CLASSIQUE
      return this.categories.filter(category => category.id_type === 1)
    } else if (this.form.type === "periodique") {
      // return options for PERIODIQUE
      return this.categories.filter(category => category.id_type === 2)
    } else {
      // return an empty array if no option is selected in the first select input
      return this.books.data.filter(book => book.type_id === 1)
    }
  },
    currentImg: function() {
      return this.images[Math.abs(this.currentIndex) % this.images.length];
    },
    /* activeTab() {
      return this.$store.state.activeTab;
    } */
  },
}
function selected() {
  var targeted = event.target;
  var clicked = targeted.parentElement;

  var child = clicked.children;
  console.log(child);

  for (let i = 0; i < child.length; i++) {
    if (child[i].classList.contains("text-gray")) {
      console.log(child[i]);
      child[i].classList.remove("text-gray", "bg-indigo-600");
      child[i].classList.add(
        "text-gray-600",
        "bg-gray-50",
        "border",
        "border-white"
      );
    }
  }

  targeted.classList.remove(
    "text-gray-600",
    "bg-gray-50",
    "border",
    "border-white"
  );
  targeted.classList.add("text-gray", "bg-indigo-600");
}

function selectNew() {
  var newL = document.getElementById("list");
  newL.classList.toggle("hidden");

  document.getElementById("ArrowSVG").classList.toggle("rotate-180");
}

function selectedSmall() {
  var text = event.target.innerText;
  var newL = document.getElementById("list");
  var newText = document.getElementById("textClicked");
  newL.classList.add("hidden");
  document.getElementById("ArrowSVG").classList.toggle("rotate-180");
  newText.innerText = text;

  document.getElementById("s1").classList.remove("hidden");
}
 </script>
<style>
.fixed-top {
  position: fixed;
  z-index: 1000;
  top:0%;
  margin-right: auto;
  margin-left: auto;
  width:95.6%;
}
#title{
  background-color: #ffffff; /* Set the background color to white */
  opacity: 0.9;
  padding: 10%;
}
.header {

margin-top: 60px;
  position: relative;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'arrière-plan */
  opacity: 0.5;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.9;
}
.logo{

  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  text-align: left;
}
.SM {
 max-width: 22rem;
  font-family: "Roboto Slab", serif;
}

h1 {
  color: #1a0683;
  font-family: 'Montserrat', sans-serif;
}
.bibliotext{
  color: #1a0683;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
.p {
  font-size: 1.1rem;
  line-height: 1;
  color:#EB455F;
  font-family: 'Georgia', serif;
  font-style: italic;
}
.tabs {
  display: flex;
}

.tab {
  background: color #bad7e9;
  width: 50%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.about-us {
  display: flex;
  flex-direction: row;
}

.about-text {
  flex-basis: 70%;
  padding-right: 30px;
}

.about-image {
  flex-basis: 30%;
}

.about-text {
  flex: 1;
  margin-right: 20px;
}

.about-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-text ol {
  margin-bottom: 20px;
  padding-left: 20px;
}

.about-text ol li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.contact {
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
}

.contact-icon {
  margin-right: 20px;
}

.contact-icon i {
  font-size: 36px;
  color: #555;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-info ul li {
  font-size: 16
}
@media (max-width: 280px) {
.bibliotext{
  padding-left: 40px;
  font-size: 0.8rem;

}
}
@media (max-width: 850px) {
  /* Set the height of the header to 4rem on small devices */
  .fixed-top {
  position: fixed;
  z-index: 1000;
  top:0%;
  margin-right: auto;
  margin-left: auto;
  width:94.6%;
}
  .header {
    margin-top: 60px;
    margin-bottom: 40px;
  position: relative;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  }
  .header__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'arrière-plan */
  opacity: 0.5;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.9;
}
.p {
  padding-left: 20px;
  font-size: 1rem;
  line-height: 1;
  color:#EB455F;
  font-family: 'Georgia', serif;
  font-style: italic;
}
.bibliotext{
  padding-left: 20px;
  font-size: 1rem;

  font-family: 'Montserrat', sans-serif;
}
}
@media (max-width: 767px) {
  /* Set the height of the header to 4rem on small devices */
  .fixed-top {
  top:0%;
  margin-right: auto;
  margin-left: auto;
  width:100%;
}
    .about-us {
    flex-direction: column;
  }

  .about-text, .about-image {
    width: 100%;
  }

/* Additional styling for the eLibrary */
.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  flex: 1;
  max-width: 600px;
}

.about-image {
  flex: 1;
  max-width: 400px;
}

.contact {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  margin-left: 10px;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 5px;
}

.contact-info ul li i {
  margin-right: 5px;
}
  .header__content {
  background-color: #ffffff; /* Set the background color to white */
  opacity: 0.8; /* Set the opacity to 50% */
  padding-left: 2rem;
  max-width: 22rem;
  text-align: center;
  font-family: "Roboto Slab", serif;

  z-index: -1;
}
#drop{
  padding: 2px;

}
.bibliotext{
  padding-left: 30px;
  font-size: 0.9rem;
}
.fixed-top {
  position: relative;
  width: 100%;
}
#list {
  top: 100%;
}
.footer-09{
  width: 100%;
}
.header {
  position: relative;
  margin-top: 0%;
  z-index: -1;
  height: 40rem;

  width: 100%;
  }
  .header__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'arrière-plan */
  opacity: 0.5;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.9;
}
  h1 {
  margin-top: 5%;
  margin-bottom: 0%;
  font-size: 1rem;
}
.logo{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  text-align: left;
}
#details {
  display: flex;
  flex-wrap: wrap; /* Wrap the child elements to a new line when there's no enough space */
}
.p {
  padding-left: 20px;
  font-size: 0.8rem;
  line-height: 1;
  color:#EB455F;
  font-family: 'Georgia', serif;
  font-style: italic;
}
.max{
  height: 0%;
}
}
.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom-style:solid
}

.tab {
  width: 50%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
}


.tab-content {
  margin-top: 10px;
}
div.mx-auto {
  padding-top: 2px;
  padding-bottom: 24px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #39b5e4;
  margin-top: 0%;
}
.nav-link {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
    align-items: center;
}

.nav-link:focus {
    background-color: white;
    color: #39b5e4;
    outline: none; /* Remove the default outline */
}

.nav-link:hover {
    background-color: white;
    color: #39b5e4;
}
</style>


