<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<template>
  <!-- component -->
<div class="2xl:container 2xl:mx-auto">
            <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
  <div class="bg-white rounded py-5 fixed-top" style="margin-bottom: 0;padding-bottom: 0;">
    <div class=" flex space-x-5 justify-center items-center pl-2">
          <div class="md:text-md flex items-center justify-end pb-0 mb-0 w-full text-sm bg-white border-b md:px-12 md:py-0">

                  <dropdown class="mt-1" placement="bottom-end" style="background-color: #39b5e4;margin: 0%; padding: 10px;">
                      <template #default>
                        <div class="group flex items-center cursor-pointer select-none">
                          <img v-if="user.photo" class="block ml-4 w-5 h-5 rounded-full" :src="user.photo" />
                          <div class="mr-1 text-white-700 group-hover:text-indigo-600 focus:text-indigo-600 whitespace-nowrap" style="color: white;">
                            <span>{{ user.first_name }}</span>
                            <span class="hidden md:inline">&nbsp;{{ user.last_name }}</span>
                          </div>
                          <icon class="w-5 h-5 fill-white-700 group-hover:fill-white-600 focus:fill-indigo-600" name="cheveron-down" style="color: white;"/>
                        </div>
                      </template>
                      <template #dropdown>
                        <div class="mt-2 py-2 text-sm bg-white rounded shadow-xl">
                          <Link class="block px-6 py-2 w-full text-left hover:text-white hover:bg-indigo-500" href="/logout" method="delete" as="button">Logout</Link>
                        </div>
                      </template>
                  </dropdown>
          </div>

          </div>
      <div class="line"></div>
       <div style="display: flex;margin-bottom: 0;padding-bottom: 0;align-items: stretch;">

          <h2 class="font-normal text-2xl leading-6 text-gray-800 ml-2 bibliotext" style="color: #1a0683; flex-grow: 4;align-self: center">BIBLIOTHEQUE TPM</h2>

          <search-filter v-model="form.search" class="space-x-2" @reset="reset" style="flex-grow: 6;align-self: center">
        <label class="block text-gray-700">Sokajy:</label>
        <select v-model="form.category" class="form-select mt-2 mb-2 w-full" style="border: 1px solid #ccc;border-radius: 0%;">
          <option :value="null">Rehetra</option>

          <option v-for="category in filteredCategories" :value="category.id">{{ category.label }}</option>
        </select>

        </search-filter>


      </div>
  <div class="line"></div>
      <nav style="background-color: #39b5e4;display: flex; justify-content: center;list-style: none; padding: 10;">
          <!-- For medium and plus sized devices -->
          <ul class="hidden md:flex flex-auto space-x-2" style="display: flex;justify-content: center;">
            <li @click.prevent="selected(true,false)" class="nav-link"> Boky </li>
                  <li @click.prevent="selected(false,true)" class="nav-link">Mombamomba</li>
                  <li @click.prevent="selected(false,false)" class="nav-link">Voavaky</li>
              <li @click.prevent="selected(false,false)" class="nav-link">Nahasongadina</li>
          </ul>

    </nav>

      <!-- for smaller devcies -->

      <div class="block md:hidden w-full mt-5 ">
          <div @click.prevent="selectNew" class="cursor-pointer px-4 py-3 text-white bg-indigo-600 rounded flex justify-between items-center w-full">
              <div class="flex space-x-2">
                  <span id="s1" class="font-semibold text-sm leading-3 hidden"></span><p id="textClicked" class="font-normal text-sm leading-3 focus:outline-none hover:bg-gray-800 duration-100 cursor-pointer ">Boky</p>
              </div>
              <svg id="ArrowSVG" class=" transform" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </div>
          <div class=" relative">
              <ul id="list" class=" hidden font-normal text-base leading-4 absolute top-2  w-full rounded shadow-md">
                  <li @click.prevent="selectedSmall(true,false)" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal"> <Link href="#" as="button">Book</Link>
                      </li>
                  <li @click.prevent="selectedSmall(false,true)" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal"><Link href="/about" as="button">Mombamomba</Link></li>
                  <li @click.prevent="selectedSmall(false,false)" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">Voavaky</li>
                  <li @click.prevent="selectedSmall(false,false)" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">Nahasongadina</li>
              </ul>
          </div>
      </div>

  </div>
</div>
  <div>

    <button v-if="preview" @click.prevent="back" class="btn-indigo ml-auto" >Hiverina</button>

  <div class="header" v-if="header">
    <div class="header__image" :style="{ backgroundImage: `url(${images[2]})` }"></div>
    <a href="#" class="logo" style="display: block;">
      <img src="/storage/image/télécharger.jpg" alt="logo" style="height: 100%;">
    </a>
    <div class="header__content">
      <h1>TONGASOA</h1>
      <p class="p">"koa mandehana ianareo, dia ataovy mpianatra ny firenena rehetra,..."</p>
      <p class="p">Matio 28:19a</p>
    </div>
  </div>
  </div>
  <div class="flex flex-col md:flex-row p-4 md:p-8 max-w-5xl mx-auto bg-white" v-if="detail" style="padding: 10%;" id="details">
    <div class="w-full md:w-1/3">
      <img :src="`/storage/${book.cover_image}`" alt="Book cover" @click.prevent="show(`/storage/${book.path}`)" class="w-full">
    </div>
    <div class="flex-1 md:ml-8">
      <h2 class="text-2xl font-bold mb-4">{{ book.title }}</h2>
      <h3 class="text-lg font-medium mb-2">Mpanoratra : {{ book.author }}</h3>
      <p class="mb-4" v-if=book.volume>Volume : {{ book.volume }}</p>
      <p class="mb-4" v-if=book.edition>Edisiôna : {{ book.edition }}</p>
      <p class="mb-4" v-if=book.lieu>Toerana : {{ book.lieu }}</p>
      <p class="mb-4" v-if=book.date_edition>Daty edisiôna : {{ book.date_edition }}</p>
      <p class="mb-4" v-if=book.description>{{ book.description }}</p>
      <button @click.prevent="show(`/storage/${book.path}`)" class="btn-indigo ml-auto" >Hovakiana</button>

     </div>
  </div><!--
   <div v-if="detail">
    <h1>{{ book.title }}</h1>
    <p>By {{ book.author }}</p>
    <p>Published by </p>
    <p>ISBN: {{ book.isbn }}</p>
    <img :src="`/storage/${book.cover_image}`" alt="Book cover" @click.prevent="show(`/storage/${book.path}`)">
    <p></p>
    <button @click.prevent="show(`/storage/${book.path}`)" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded" >Lire</button>

  </div> -->
<div id="app" v-if="showPdf">
  <div class="app-header"  style="padding-bottom:10px;">
    <template v-if="isLoading">
      Miandry kely tompoko...
    </template>

    <template v-else>
      <span v-if="showAllPages">
        {{ pageCount }} pejy
      </span>

      <span v-else>
        <button :disabled="page <= 1" @click="page--">❮</button>

        {{ page }} / {{ pageCount }}

        <button :disabled="page >= pageCount" @click="page++">❯</button>
      </span>

      <label class="right" style="float: right;">
        <input v-model="showAllPages" type="checkbox">
        aseho daholo ireo pejy
      </label>
    </template>
  </div>

  <div class="app-content">
    <vue-pdf-embed

      ref="pdfRef"
      :source="source1"
      :page="page"
      :downloadable="false"
      @password-requested="handlePasswordRequest"
      @rendered="handleDocumentRender"
    />
  </div>
</div>
<div>
    <div class="tabs" v-if="listbook">
      <div class="tab" :class="{ active: activeTab === 'tab1' }" @click="activeTab = 'tab1'">CLASSIQUE</div>
      <div class="tab" :class="{ active: activeTab === 'tab2' }" @click="activeTab = 'tab2'">PERIODIQUE</div>
     </div>
  <!-- <iframe v-if="showPdf" :src="source1" width="100%" height="600" :downloadable="false" @load="onIframeLoad"></iframe> -->
  <!-- <vue-pdf-embed v-if="showPdf" :source="source1" :downloadable="false"/> -->
  <div class="tab-content">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 bg-white" v-if="listbook">

    <div class="grid grid-cols-2 gap-x-6 gap-y-6 sm:gap-y-6 sm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 xl:gap-x-8">
      <a href="#" class="group relative flex flex-col" @click.prevent="showDetail(book)" v-for="book in filteredBooks.data">
        <div class="h-44 sm:h-60 md:h-76 bg-gray-200 rounded-lg overflow-hidden relative flex-grow-0">
      <img :src="`/storage/${book.cover_image}`" :alt="book.cover_image" class="h-full w-full object-cover object-center group-hover:opacity-75">
          <div class="absolute bottom-0 left-0 w-full text-center sm:text-left" id="title">
            <h3 class="text-lg font-medium">{{ book.title }}</h3>
            <p class="mt-2 text-sm">{{  book.author }}</p>
          </div>
        </div>
      </a>

      <!-- More products... -->
    </div>

<pagination class="mt-6" :links="filteredBooks.links" />
</div>

</div>

</div>
  <div class="propos" v-if="mombamomba">
    <div class="about-us">
    <div class="about-text">
      <h1>About Us</h1>
      <p>Welcome to our eLibrary! We are a digital library dedicated to providing easy and convenient access to a wide range of digital books, magazines, and other publications, as well as to promote literacy and education through our services.</p>
      <h2>How to Use Our eLibrary</h2>
      <ol>
        <li>Sign up for an account or log in with your existing account.</li>
        <li>Browse our collection of books, magazines, and other publications.</li>
        <li>Click on the title of the publication you want to read.</li>
        <li>If the publication is available, you can borrow it for a set period of time. If it's not available, you can add it to your wish list and be notified when it becomes available.</li>
        <li>Enjoy reading your borrowed publications on your computer, tablet, or smartphone.</li>
        <li>Return the borrowed publications when you're finished with them, or renew them if you need more time.</li>
      </ol>
    </div>
    <div class="about-image">
      <img src="/storage/image/IMG_20230420_092227_612.jpg" alt="about-us-image">
    </div>
  </div>
  <footer class="contact">
    <div class="contact-icon">
      <i class="fas fa-envelope"></i>
    </div>
    <div class="contact-info">
      <h2>Contact Information</h2>
      <ul>
        <li><i class="fas fa-map-marker-alt"></i> Address: 123 Main St, Anytown USA 12345</li>
        <li><i class="fas fa-phone"></i> Phone: (123) 456-7890</li>
        <li><i class="fas fa-envelope"></i>Email: info@elibrary.com</li>
      </ul>
    </div>
  </footer>
  </div>
</template>
<script>
import { Link } from '@inertiajs/inertia-vue3'
import SearchFilter from '@/Shared/SearchFilter'
import VuePdfEmbed from 'vue-pdf-embed'
import pickBy from 'lodash/pickBy'
import Search from '@/Shared/Search'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
import Pagination from '@/Shared/Pagination'
import Icon from '@/Shared/Icon'
import Logo from '@/Shared/Logo'
import Dropdown from '@/Shared/Dropdown'
import FlashMessages from '@/Shared/FlashMessages'

export default {
  components: {
    Link,
    SearchFilter,
    VuePdfEmbed,
    Dropdown,
    FlashMessages,
    Icon,
    Pagination,
  },

  layout: Search,
  props: {
    auth: Object,
    filters: Object,
    books: Object,
    periodiques:Object,
    categories:Object,
    user:Object,
  },
  data() {
    return {
      activeTab: 'tab1',
      images: [
        "/storage/image/IMG_20230414_071539_780.jpg",
        "/storage/image/IMG_20230414_071809_804.jpg",
        "/storage/image/IMG_20230420_092227_612.jpg"
      ],
      timer: null,
      currentIndex: 0,
      form: {
        search: this.filters.search,
        category: this.filters.category,
      },

      isLoading: true,
      page: null,
      book:null,
      pageCount: 1,
      showAllPages: true,
      showPdf: false,
      header:true,
      mombamomba:false,
      listbook:true,
      source1: 'https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/examples/learning/helloworld.pdf',
      source2: 'data:application/pdf;base64,<BASE64_ENCODED_PDF>',
    }
  },
  mounted: function() {
    this.startSlide();
  },
  watch: {
    showAllPages() {
      this.page = this.showAllPages ? null : 1
    },
    form: {
      deep: true,
      handler: throttle(function () {
        this.$inertia.get('/', pickBy(this.form), { preserveState: true })
      }, 150),
    },
    'activeTab': throttle(function() {
      this.$inertia.get('/', pickBy(), { preserveState: true }),
    this.filteredBooks = this.getFilteredBooks(),
    this.filteredCategories=this.getFilteredCategories()
  },150),
  },
  methods: {
    getFilteredBooks() {
    if (this.activeTab === "tab1") {
      // return options for CLASSIQUE
      return this.books
    } else if (this.activeTab === "tab2") {
      // return options for PERIODIQUE
      return this.periodiques
    } else {
      // return an empty array if no option is selected in the first select input
      return this.books
    }
  },
  getFilteredCategories() {
    if (this.activeTab === "tab1") {
      // return options for CLASSIQUE
      return this.categories.filter(category => category.id_type === 1)
    } else if (this.activeTab === "tab2") {
      // return options for PERIODIQUE
      return this.categories.filter(category => category.id_type === 2)
    } else {
      // return an empty array if no option is selected in the first select input
      return this.books.data.filter(book => book.type_id === 1)
    }
  },
    startSlide() {
      setInterval(() => {
        this.currentIndex = (this.currentIndex + 1) % this.images.length;
      }, 3000);
    },

    next: function() {
      this.currentIndex += 1;
    },
    prev: function() {
      this.currentIndex -= 1;
    },
     handleDocumentRender() {
      this.isLoading = false
      this.pageCount = this.$refs.pdfRef.pageCount
    },
    handlePasswordRequest(callback, retry) {
      callback(prompt(retry
        ? 'Enter password again'
        : 'Enter password'
      ))
    },
    onIframeLoad(event) {
      let iframeDocument = event.target.contentWindow.document;
      iframeDocument.addEventListener("DOMContentLoaded", () => {
        let printButton = iframeDocument.querySelector(".toolbarButton[data-l10n-id='print_label']");
        if (printButton) {
          printButton.style.display = "none";
        }
      });
    },
    selected(boky,mombamomba) {
  var targeted = event.target;
  var clicked = targeted.parentElement;
  this.listbook=boky;
  this.mombamomba=mombamomba;
  if(mombamomba){
    this.header=false;
  }
  else{
    this.header=true;
  }


  var child = clicked.children;
  console.log(child);

  for (let i = 0; i < child.length; i++) {
    if (child[i].classList.contains("text-white")) {
      console.log(child[i]);
      child[i].classList.remove("text-white", "bg-gray-600");
      /*child[i].classList.add(
        "text-gray-600",
        "bg-gray-50",
        "border",
        "border-white"
      );*/
    }
  }
  targeted.classList.remove(
    "text-gray-600",
    "bg-gray-50",
    "border",
    "border-white"
  );
  targeted.classList.add("text-white", "bg-gray-600");
}
,
selectNew() {
  var newL = document.getElementById("list");
  newL.classList.toggle("hidden");


  document.getElementById("ArrowSVG").classList.toggle("rotate-180");
},
selectedSmall(boky,mombamomba) {
  var text = event.target.innerText;

  this.listbook=boky;
  this.mombamomba=mombamomba;
  if(mombamomba){
    this.header=false;
  }
  else{
    this.header=true;
  }
  var newL = document.getElementById("list");
  var newText = document.getElementById("textClicked");
  newL.classList.add("hidden");
  document.getElementById("ArrowSVG").classList.toggle("rotate-180");
  newText.innerText = text;

  document.getElementById("s1").classList.remove("hidden");
},
showDetail(book){
  this.detail=true;
  this.book=book;
  this.header=false;
  this.listbook=false;

  this.showPdf = false;
  this.preview = true;
},

    show(bookpath) {

  this.detail=false;
      this.listbook=false;
      this.header=false;
      this.showPdf = true;
      this.preview=true;
      this.source1=bookpath;
       },
      back() {
      this.listbook=true;
      this.header=true;
      this.detail=false;
      this.preview = false;
      this.showPdf = false;
       },
       reset() {
      this.form = mapValues(this.form, () => null)
    },
    getImageUrl(path) {
      return process.env.BASE_URL + path;
    },

  },
  computed: {
    filteredBooks() {
      if (this.activeTab === "tab1") {
      // return options for CLASSIQUE
      return this.books
    } else if (this.activeTab === "tab2") {
      // return options for PERIODIQUE
      return this.periodiques
    } else {
      // return an empty array if no option is selected in the first select input
      return this.books
    }
  },
  filteredCategories() {
    if (this.activeTab === "tab1") {
      // return options for CLASSIQUE
      return this.categories.filter(category => category.id_type === 1)
    } else if (this.activeTab === "tab2") {
      // return options for PERIODIQUE
      return this.categories.filter(category => category.id_type === 2)
    } else {
      // return an empty array if no option is selected in the first select input
      return this.books.data.filter(book => book.type_id === 1)
    }
  },
    currentImg: function() {
      return this.images[Math.abs(this.currentIndex) % this.images.length];
    },
    /* activeTab() {
      return this.$store.state.activeTab;
    } */
  },
}
function selected() {
  var targeted = event.target;
  var clicked = targeted.parentElement;

  var child = clicked.children;
  console.log(child);

  for (let i = 0; i < child.length; i++) {
    if (child[i].classList.contains("text-white")) {
      console.log(child[i]);
      child[i].classList.remove("text-white", "bg-indigo-600");
      child[i].classList.add(
        "text-gray-600",
        "bg-gray-50",
        "border",
        "border-white"
      );
    }
  }

  targeted.classList.remove(
    "text-gray-600",
    "bg-gray-50",
    "border",
    "border-white"
  );
  targeted.classList.add("text-white", "bg-indigo-600");
}

function selectNew() {
  var newL = document.getElementById("list");
  newL.classList.toggle("hidden");

  document.getElementById("ArrowSVG").classList.toggle("rotate-180");
}

function selectedSmall() {
  var text = event.target.innerText;
  var newL = document.getElementById("list");
  var newText = document.getElementById("textClicked");
  newL.classList.add("hidden");
  document.getElementById("ArrowSVG").classList.toggle("rotate-180");
  newText.innerText = text;

  document.getElementById("s1").classList.remove("hidden");
}
 </script>
<style>
.fixed-top {
  position: fixed;
  top: 0;
  width: 92%;
  z-index: 1000;
}
#title{
  background-color: #ffffff; /* Set the background color to white */
  opacity: 0.9;
  padding: 10%;
}
.header {
  position: relative;

  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a0683;
}

.header__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.9;
}
.logo{

  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  text-align: left;
  z-index: -1;
}
.header__content {
  background-color: #fcffe7; /* Set the background color to white */
  opacity: 0.9; /* Set the opacity to 50% */
  padding: 10px;
  max-width: 22rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

h1 {
  color: #1a0683;
  margin-top: 5%;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.p {
  font-size: 1.5rem;
  line-height: 1;
  color:#EB455F;
}
.tabs {
  display: flex;
}

.tab {
  background: color #bad7e9;
  width: 50%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.about-us {
  display: flex;
  flex-direction: row;
}

.about-text {
  flex-basis: 70%;
  padding-right: 30px;
}

.about-image {
  flex-basis: 30%;
}

.about-text {
  flex: 1;
  margin-right: 20px;
}

.about-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-text ol {
  margin-bottom: 20px;
  padding-left: 20px;
}

.about-text ol li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.contact {
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
}

.contact-icon {
  margin-right: 20px;
}

.contact-icon i {
  font-size: 36px;
  color: #555;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-info ul li {
  font-size: 16
}
@media (max-width: 767px) {
  /* Set the height of the header to 4rem on small devices */
    .about-us {
    flex-direction: column;
  }

  .about-text, .about-image {
    width: 100%;
  }

/* Additional styling for the eLibrary */
.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  flex: 1;
  max-width: 600px;
}

.about-image {
  flex: 1;
  max-width: 400px;
}

.contact {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  margin-left: 10px;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 5px;
}

.contact-info ul li i {
  margin-right: 5px;
}
  .header__content {
  background-color: #ffffff; /* Set the background color to white */
  opacity: 0.8; /* Set the opacity to 50% */
  padding-left: 2rem;
  max-width: 22rem;
  text-align: center;
  font-family: "Roboto Slab", serif;

  z-index: -1;
}
.bibliotext{

  font-size: 1rem;
}
.fixed-top {
  position: relative;
  width: 100%;
}
#list {
  top: 100%;
}
  .header {
  z-index: -1;
  height: 10rem;
  }
  h1 {
  margin-top: 5%;
  margin-bottom: 0%;
  font-size: 1rem;
}
.logo{
  top: 0;
  left: 0;
  width:8rem;
  text-align: left;
}
#details {
  display: flex;
  flex-wrap: wrap; /* Wrap the child elements to a new line when there's no enough space */
}
.p {
  font-size: 1rem;
  line-height: 1;
  color:#EB455F;
}

}
.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom-style:solid
}

.tab {
  width: 50%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
}


.tab-content {
  margin-top: 10px;
}
div.mx-auto {
  padding-top: 2px;
  padding-bottom: 24px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #39b5e4;
  margin-top: 0%;
}
.nav-link {
    padding: 0.5rem 1rem;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:focus {
    background-color: white;
    color: #1a0683;
    outline: none; /* Remove the default outline */
}

.nav-link:hover {
    background-color: white;
    color: #1a0683;
}
</style>



