<template>
  <div class="2xl:container 2xl:mx-auto">
            <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
            <div class="bg-white rounded py-5 px-7">
                <nav class="flex justify-between">
                      <div class="flex items-center flex-grow">

                      <h2 class="font-normal text-2xl leading-6 text-gray-800 ml-2" style="color: #2B3467;">BIBLIOTHEQUE TPM</h2>
                      </div>

                    <!-- For medium and plus sized devices -->
                    <ul class="hidden md:flex flex-auto space-x-2">
                            <li @click.prevent="selected" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded"> <Link href="/" as="button">Book</Link></li>
                            <li @click.prevent="selected" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal"><Link href="#" as="button">Mombamomba</Link></li>
                            <li @click.prevent="selected" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded">Voavaky</li>
                        <li @click.prevent="selected" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded">Nahasongadina</li>
                    </ul>
                    <div class=" flex space-x-5 justify-center items-center pl-2">
                    <div class="md:text-md flex items-center justify-between p-4 w-full text-sm bg-white border-b md:px-12 md:py-0">

                            <dropdown class="mt-1" placement="bottom-end">
                                <template #default>
                                  <div class="group flex items-center cursor-pointer select-none">
                                    <img v-if="user.photo" class="block ml-4 w-5 h-5 rounded-full" :src="user.photo" />
                                    <div class="mr-1 text-gray-700 group-hover:text-indigo-600 focus:text-indigo-600 whitespace-nowrap">
                                      <span>{{ user.first_name }}</span>
                                      <span class="hidden md:inline">&nbsp;{{ user.last_name }}</span>
                                    </div>
                                    <icon class="w-5 h-5 fill-gray-700 group-hover:fill-indigo-600 focus:fill-indigo-600" name="cheveron-down" />
                                  </div>
                                </template>
                                <template #dropdown>
                                  <div class="mt-2 py-2 text-sm bg-white rounded shadow-xl">
                                    <Link class="block px-6 py-2 w-full text-left hover:text-white hover:bg-indigo-500" href="/logout" method="delete" as="button">Logout</Link>
                                  </div>
                                </template>
                            </dropdown>
                    </div>

                    </div>
              </nav>

                <!-- for smaller devcies -->

                <div class="block md:hidden w-full mt-5 ">
                    <div @click.prevent="selectNew" class="cursor-pointer px-4 py-3 text-white bg-indigo-600 rounded flex justify-between items-center w-full">
                        <div class="flex space-x-2">
                            <span id="s1" class="font-semibold text-sm leading-3 hidden"></span><p id="textClicked" class="font-normal text-sm leading-3 focus:outline-none hover:bg-gray-800 duration-100 cursor-pointer ">Boky</p>
                        </div>
                        <svg id="ArrowSVG" class=" transform" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 9L12 15L18 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class=" relative">
                        <ul id="list" class=" hidden font-normal text-base leading-4 absolute top-2  w-full rounded shadow-md">
                            <li @click.prevent="selectedSmall" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal"> <Link href="#" as="button">Book</Link>
                                </li>
                            <li @click.prevent="selectedSmall" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal"><Link href="/about" as="button">Mombamomba</Link></li>
                            <li @click.prevent="selectedSmall" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">Voavaky</li>
                            <li @click.prevent="selectedSmall" class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">Nahasongadina</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  <div class="about-us">
    <div class="about-text">
      <h1>About Us</h1>
      <p>Welcome to our eLibrary! We are a digital library dedicated to providing easy and convenient access to a wide range of digital books, magazines, and other publications, as well as to promote literacy and education through our services.</p>
      <h2>How to Use Our eLibrary</h2>
      <ol>
        <li>Sign up for an account or log in with your existing account.</li>
        <li>Browse our collection of books, magazines, and other publications.</li>
        <li>Click on the title of the publication you want to read.</li>
        <li>If the publication is available, you can borrow it for a set period of time. If it's not available, you can add it to your wish list and be notified when it becomes available.</li>
        <li>Enjoy reading your borrowed publications on your computer, tablet, or smartphone.</li>
        <li>Return the borrowed publications when you're finished with them, or renew them if you need more time.</li>
      </ol>
    </div>
    <div class="about-image">
      <img src="/storage/image/IMG_20230420_092227_612.jpg" alt="about-us-image">
    </div>
  </div>
  <footer class="contact">
    <div class="contact-icon">
      <i class="fas fa-envelope"></i>
    </div>
    <div class="contact-info">
      <h2>Contact Information</h2>
      <ul>
        <li><i class="fas fa-map-marker-alt"></i> Address: 123 Main St, Anytown USA 12345</li>
        <li><i class="fas fa-phone"></i> Phone: (123) 456-7890</li>
        <li><i class="fas fa-envelope"></i>Email: info@elibrary.com</li>
      </ul>
    </div>
  </footer>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'
export default {
  components: {
    Link,
  },
  props: {
    user:Object,
  },
}

</script>

<style scoped>
.about-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.about-image {
  flex: 1;
  margin-left: 20px;
}

.about-image img {
  max-width: 100%;
  height: auto;
}

.about-text {
  flex: 1;
  margin-right: 20px;
}

.about-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-text ol {
  margin-bottom: 20px;
  padding-left: 20px;
}

.about-text ol li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.contact {
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
}

.contact-icon {
  margin-right: 20px;
}

.contact-icon i {
  font-size: 36px;
  color: #555;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-info ul li {
  font-size: 16
}

div.mx-auto {
  padding-top: 2px;
  padding-bottom: 24px;
}

</style>
