.btn-indigo {
  @apply px-6 py-3 rounded text-white text-sm leading-4 font-bold whitespace-nowrap focus:bg-orange-400;
  background-color: #1a0683;

}
.btn-indigo:hover {
    background-color: #39b5e4;

  }
.btn-spinner,
.btn-spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;

}

.btn-spinner {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid white;
  border-right: 0.2em solid white;
  border-bottom: 0.2em solid white;
  border-left: 0.2em solid transparent;
  transform: translateZ(0);
  animation: spinning 1s infinite linear;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
