<template>
  <div>
    <Head title="TABILAO" />
    <h1 class="mb-8 text-3xl font-bold">TABILAO</h1>
    <p class="mb-8 leading-normal">Fiadanana! Tongasoa ato amin'ny fitantanana ny famakiamboky</p>
  </div>
</template>

<script>
import { Head } from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'

export default {
  components: {
    Head,
  },
  layout: Layout,
}
</script>
