<template>
  <div class="flex items-center" style="display: flex; align-items: center; position: relative;">


<!--<template #default>
          <div class="flex items-baseline">
            <span class="hidden text-gray-700 md:inline">Sokajy</span>
            <svg class="w-2 h-2 fill-gray-700 md:ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 961.243 599.998">
              <path d="M239.998 239.999L0 0h961.243L721.246 240c-131.999 132-240.28 240-240.624 239.999-.345-.001-108.625-108.001-240.624-240z" />
            </svg>
          </div>
        </template>-->

             <slot />
        <label class="block text-gray-700" v-if="!isMobile">Lohateny/Mpanoratra:</label>
      <input v-if="!isMobile" autocomplete="off" type="text" name="search" placeholder="Hitady...(Mpanoratra/lohateny)" :value="modelValue" @input="$emit('update:modelValue', $event.target.value)" />

    <button v-if="!isMobile" class="button"><i class="fa fa-search"></i></button>
    <div v-if="isMobile" style="display: flex; align-items: stretch;">
      <input autocomplete="off" type="text" name="search" placeholder="Hitady...(Mpanoratra/lohateny)" :value="modelValue" @input="$emit('update:modelValue', $event.target.value)" />

    <button class="button"><i class="fa fa-search"></i></button>
    </div>
    <!--<button class="btn-indigo ml-auto" type="button" @click="$emit('reset')">Rehetra</button>-->
  </div>
</template>

<script>
import Dropdown from '@/Shared/Dropdown'

export default {
  data() {
    return {
      isMobile: window.innerWidth <= 768, // Détermine si l'écran est mobile (largeur <= 768px)
    };
  },
  components: {
    Dropdown,
  },
  props: {
    modelValue: String,
    maxWidth: {
      type: Number,
      default: 300,
    },
  },
  emits: ['update:modelValue', 'reset'],
}
</script>
<style>
.search-container {
  position: relative;
  float: right;
}

input[type=text] {
  padding: 8px; /* Add padding for the icon on the right */
  margin-right: 0%;
  font-size: 17px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.button {
  padding: 8px;
  background: #ddd;
  font-size: 17px;
  margin-left: 0%;
  border: none;
  cursor: pointer;
  height: 100%;
}

.button:hover {
  background: #ccc;
}
</style>
