<template>
  <Head title="Login" />
  <div class="flex items-center justify-center p-6 min-h-screen bg-indigo-800" style="background-image: url('/storage/image/IMG_20230420_092227_612.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; color: #2B3467;">

     <div class="w-full max-w-md">



      <logo class="block mx-auto w-full max-w-xs fill-white" height="50" />
      <form class="mt-8 bg-white rounded-lg shadow-xl overflow-hidden" @submit.prevent="login">
        <div class="header_l">
          <a href="#">
            <img class="logo_l" src="/storage/image/télécharger.jpg" alt="logo">
          </a>
          <div class="soratra">
            <h2 class="text-center w-full font-bold">FIANGONAN'I JESOA KRISTY ETO MADAGASIKARA</h2>
          <h3 class="text-center w-full font-bold">Toeram-panomanana Mpitandrina</h3>

          </div>
          </div>
        <div class="px-8 py-8">
          <h1 class="text-center text-3xl font-bold">Tranom-boky</h1>
          <div class="mt-6 mx-auto w-24 border-b-2" />
          <text-input v-model="form.email" :error="form.errors.email" class="mt-10" label="Email" type="email" autofocus autocapitalize="off" />
          <text-input v-model="form.password" :error="form.errors.password" class="mt-6" label="Password" type="password" />
          <label class="flex items-center mt-6 select-none" for="remember">
            <input id="remember" v-model="form.remember" class="mr-1" type="checkbox" />
            <span class="text-sm">tsiahivina aho</span>
          </label>
        </div>
        <div class="flex px-10 py-4 bg-gray-100 border-t border-gray-100">
          <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Login</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head } from '@inertiajs/inertia-vue3'
import Logo from '@/Shared/Logo'
import TextInput from '@/Shared/TextInput'
import LoadingButton from '@/Shared/LoadingButton'

export default {
  components: {
    Head,
    LoadingButton,
    Logo,
    TextInput,
  },
  data() {
    return {
      form: this.$inertia.form({
        email: 'johndoe@example.com',
        password: 'secret',
        remember: false,
      }),
    }
  },
  methods: {
    login() {
      this.form.post('/login')
    },
  },
}
</script>
<style>
.header_l {
  display: flex;
  align-items: center;
}

.logo_l {
  height: 50px;
  width: 30px;
  margin-right: 10px;
}

.soratra {
  margin-left: 0;
}
</style>
